/* src/components/Navbar.css */
.navbar {
  background-color: rgb(255, 255, 255);
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 20px;
  width: 80%;
  max-width: 1350px !important;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  /* top: 0; */
  z-index: 199;
  transition: top 0.2s;
  position: fixed;
  top: 0; /* Fixa a barra no topo da página */
  left: 0;
  right: 0;
  border-radius: 18px;
  transition: 0.4s all;
}

.logo {
  display: flex;
}


.navbar .logo .Link-home {
  color: var(--roxo1);
  /* font-size: clamp(12px, 2vw, 1em); */
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 8px;
  flex-grow: 1;
}

.nav-links {
  list-style-type: none;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-between; */
  margin: 0px;
  padding: 0px;
  /* background-color: turquoise; */
  width: 40% !important;
  /* flex-grow: 2; */
}


.first-part , .iconAndSearchMenu  {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  gap: 24px;
  list-style-type: none;
}

.iconAndSearchMenu {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-left: 10px;
  margin: 0px;
  padding: 0px;
}

.iconAndSearchMenu li {
  display: flex;
  align-items: center;
  margin: 0px;
}

.iconAndSearchMenu a, .search  {
  /* text-decoration: none; */
  color: var(--roxo2);
  /* font-size: 1.5em; */
  /* font-size: clamp(16px, 2vw, 1.3em); */
  transition: color 0.3s ease;
}

.nav-links a:not(.material-symbols-outlined) {
  text-decoration: none;
  color: var(--roxo2);
  font-size: 1em;
  /* font-size: clamp(14px, 1.2vw, 1.5em); */
  transition: color 0.3s ease;
  /* margin: 0 auto; */
}

.nav-links a:hover {
  color: #ad24a7;
}

.end-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 40px;
  /* filter: invert(100%); */
  transition: filter 0.3s ease;
  color: var(--roxo2);
}

.material-symbols-outlined:hover {
  color: var(--roxo3-hover);
}

.navbar-show {
  top: 0;
}

.navbar-hide {
  top: -90px; /* Ajuste conforme a altura da sua Navbar */
}

/* searchInput */
/* From Uiverse.io by garerim */ 
.container-input {
  position: relative;
  user-select: none;
}

.input-search {
  width: 0px;
  padding: 6px 0px 6px 37px;
  border-radius: 50px;
  border: none;
  transition: all 0.4s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input span {
  position: absolute;
  top: 50%;
  left: 10px;
  /* transition: ease-in 0.7s; */
  transform: translate(0, -50%);
  color: var(--roxo1) !important;
}

.open {
  opacity: 1;
  width:  250px;
  border: solid 1px var(--roxo2);
}

.input-search:focus {
  opacity: 1;
  width: 250px;
  border: solid 1px var(--roxo2);
}

