/* src/components/Navbar.css */
.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 86%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  /* top: 0; */
  z-index: 199;
  transition: top 0.2s;
  position: fixed;
  top: 0; /* Fixa a barra no topo da página */
  left: 0;
  right: 0;
  border-radius: 18px;
}

.logo {
  display: flex;
}

.navbar .logo .Link-home {
  color: var(--roxo1);
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 8px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  /* background-color: turquoise; */
  width: 85%;
}

.first-part {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  /* background-color: violet; */
  /* margin-left: 100px; */
}

.first-part , .second-part  {
  display: flex;
  align-items: center;
  gap: 24px;
}


.nav-links li {
  margin: 0px;
}

.nav-links a {
  text-decoration: none;
  color: var(--roxo2);
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.nav-links a:not(.material-symbols-outlined) {
  text-decoration: none;
  color: var(--roxo2);
  font-size: 1em;
  transition: color 0.3s ease;
  /* margin: 0 auto; */
}

.nav-links a:hover {
  color: #ad24a7;
}

.end-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 40px;
  /* filter: invert(100%); */
  transition: filter 0.3s ease;
  color: var(--roxo2);
}

.material-symbols-outlined:hover {
  color: var(--roxo3-hover);
}

.navbar-show {
  top: 0;
}

.navbar-hide {
  top: -90px; /* Ajuste conforme a altura da sua Navbar */
}

/* searchInput */
/* From Uiverse.io by garerim */ 
.container-input {
  position: relative;
}

.input {
  width: 200px;
  padding: 5px 0px 5px 40px;
  border-radius: 50px;
  border: solid 1px var(--roxo2);
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  color: var(--roxo1) !important;
}

.input:focus {
  opacity: 1;
  width: 250px;
}

