/* src/components/Navbar.css */

.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 86%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  /* top: 0; */
  z-index: 199;
  transition: top 0.2s;
  position: fixed;
  top: 0; /* Fixa a barra no topo da página */
  left: 0;
  right: 0;
  border-radius: 18px;
}

.logo {
  display: flex;
}

.navbar .logo h1 {
  color: var(--roxo1);
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--roxo2);
  font-size: 0.9em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d8d8d8;
}

.end-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 40px;
  /* filter: invert(100%); */
  transition: filter 0.3s ease;
  color: var(--roxo2);
}

.material-symbols-outlined:hover {
  color: var(--roxo3-hover);
}

.navbar-show {
  top: 0;
}

.navbar-hide {
  top: -90px; /* Ajuste conforme a altura da sua Navbar */
}

/* searchInput */
/* From Uiverse.io by garerim */ 
.container-input {
  position: relative;
}

.input {
  width: 250px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px var(--roxo2);
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  color: var(--roxo1) !important;
}

.input:focus {
  opacity: 1;
  width: 350px;
}

