/* Estilo para a página About */
.about {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-family: Arial, sans-serif;
    margin-top: 83px;
  }
  
  .about h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .about ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  