.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    /* padding: 12px; */
}

.card img {
    width: 100%;
    /* margin: 0 auto; */
    height: auto;
    /* margin: 20px; */
    /* border: 1px solid gray; */
}

.card-body {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card-title {
    font-size: 1.25em;
    margin: 0;
    color: #333;
}

.card-description {
    color: #666;
    font-size: 0.9em;
    margin: 10px 0;
}

.card-price {
    font-size: 1.1em;
    color: #e74c3c;
    margin: 10px 0;
}

.card-category, .card-stock {
    color: #999;
    font-size: 0.9em;
}

.card:hover > .card-body > .card-title {
    color: rgb(73, 121, 224);
}