/* src/components/Sidebar.css */

.sidebar {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: space-between; */
    width: 250px;
    height: 100vh !important;
    /* background-color: #f8f8f8; */
    /* background-color: #e03737; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px !important;
    /* max-height: 100vh; */
    z-index: 2;
}

.sidebar h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.filter-section {
    margin-bottom: 1em;
}

.filter-section h3 {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 0.5em;
}

.filter-section ul {
    list-style-type: none;
    padding-left: 0;
}

.filter-section ul li {
    margin-bottom: 0.1em;
}

.filter-section input[type="checkbox"],
.filter-section input[type="radio"] {
    margin-right: 10px;
}

.apply-filters-button {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    transition: background-color 0.3s ease;
}

.apply-filters-button:hover {
    background-color: #d81b60;
}
