:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --roxo1: #6C51A6;
  --roxo2: #7263A6;
  --roxo3: #C7BFD9;
  --roxo3-hover: #7e5ec4;
  --cinzaClaro: #F2F2F2;
  --cinzaClaro-transparent: #f2f2f2da;
  --cinzaEscuro: #404040;

}

h1 {
  text-align: center;
}

.btn {
  /* --primary-color: #645bff; */
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--cinzaClaro);
  padding: 1em 1.8em;
  background-color: var(--roxo1);
  display: flex;
  transition: 0.2s background-color;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  justify-content: center;
}

.btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:hover .arrow {
  background: var(--secondary-color);
}

.btn:hover .arrow:before {
  right: 0;
}