/* From Uiverse.io by thewizardofzen */ 
button {
  --primary-color: #ffff;
  --secondary-color: #002152;
  --hover-color: #eceff2;
  --black: #2c2c2c;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  color: var(--black);
  padding: 0.7em 1.5em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 1.2em;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

button:first-child .arrow {
  display: none;
}

button:last-child {
  background-color: orange;
  color: white;
}

button:last-child:hover {
  background-color: rgb(253, 124, 3);
  color: white;
}

button:last-child .arrow {
  background: orange !important;
}

button:last-child:hover .arrow {
  background: rgb(255, 255, 255) !important;
}

button:last-child .arrow::before {
  color: red;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;

}