
header {
    width: 100vw;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px ;
    width: var(--marginSize) !important;
    margin: 0 auto;
}

.nav-container .menu_itens_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 600;
   width: 20%;
   min-width: 250px;
}

.menu_item {
    list-style: none;
    font-size: clamp(12px, 1.4em, 2.4em);
}

a {
    text-decoration: none;
    color: var(---black);
}

.button_login_container {
    display: flex;
    justify-content: space-between;
    width: 225px;
    min-width: 210px;
    /* background-color: rebeccapurple; */
}
