header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 48px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center !important; */
    /* padding: 8px 0px 0px 0px; */
    width: var(--marginSize) !important;
    margin: 0 auto;
}

.nav-container .menu_itens_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-weight-itens-nav);
    width: var(--menu-container-width);
    min-width: var(--menu-container-min-width);
    padding: 0px;
    margin: 0px;
    /* background-color: violet; */
}

.menu_item {
    list-style: none;
    font-size: clamp(12px, 1.4em, 2.4em);
}

a {
    text-decoration: none;
    color: var(--font-menu-color);
}

.button_login_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--Size-buttons-container);
    min-width: 195px;
    /* background-color: rebeccapurple; */
}