
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 34px ;
}

.nav-container .menu_itens_container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-weight: 600;
   width: 20%;
   min-width: 250px;
}

.menu_item {
    list-style: none;
    font-size: clamp(12px, 1.6em, 24px);
}

a {
    text-decoration: none;
    color: var(---black);
}

.button_login_container {
    display: flex;
    justify-content: space-between;
    width: 225px;
    /* background-color: rebeccapurple; */
}

hr {
    opacity: 0.2;
}