.menu-container {
    /* background-color: violet; */
    width: 100%;   
    margin: 10px 0px
}

.menu-container ul {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    padding: 0px;
    margin: 0px;
}

.menu-container li {
    list-style: none;
    font-size: 1.2em;
    padding: 4px 8px;
    border-radius: 50px;
    /* background-color: tomato; */
    /* width: 400px; */
    margin: 0px 8px;
}
.menu-container li a {
    width: 100%¨!important;
}


.menu-container li:first-child, .menu-container li:first-child a {
    background-color: orange;
    color: white !important;
}

.menu-container li:hover {
    background-color: orange;

}

.menu-container li:hover > a {
    color: white !important;
}


