*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

body {
  background-color: #282c34;
}


.App-header {
  display: none;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

.form-container {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-container form button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
  color: white;
}

ul {
  text-align: center;
  color: white;
}