:root {
    ---black: #3f3e3e;
    --black_hover: #0c0c0c;
    --h1Color: #0f0f0f;
    --highlight-color: orange;
    --highlight-color-hover: #FF8C00;
    --font-menu-color: #00457C;

    --border-radius: 10px;
    --mt: 10px;

    --h1: 5em;

    --colum-gap: 10px;

    --title: "Bai Jamjuree", sans-serif;

    --marginSize: 80%;

    /* Home Sobre mim Contato*/
    --font-weight-itens-nav: 600;
    --menu-container-width: 20%;
    --menu-container-min-width: 250px;

    /* Sign In Sign up */
    --Size-buttons-container: 195px;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    /* Cor de fundo */
}

.active {
    color: var(--highlight-color);
}

.container {
    width: var(--marginSize);
    max-width: 1200px;
    padding: 20px 0px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    margin: 0px auto;
}

hr {
    opacity: 0.1;
    padding: 0px;
    margin: 0px;
}

.article-container {
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 8px;
}