
:root {
    ---black: #2c2c2c;
    --black_hover: #0c0c0c;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

.active {
    color: var(--black_hover);
}